---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { SEO } from "astro-seo";
---
<SEO
  title="Chacham's TMI"
/>
<BaseLayout>
    <div class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32   lg:pt-32">
        <div class="lg:text-center">
          <h1 class="text-4xl tracking-tight text-balance font-medium font-display text-black md:text-8xl">
            NOT FOUND
          </h1>
        </div>
      </div>
</BaseLayout>
